{% extends "layout.html" %}

{% block body %}

{% if(flag): %}
    {% include "nav.html" %}
{% else: %}
    {% include "protectednav.html" %}
{% endif %}

{% if(l <= 0): %}
    <h3>Sorry No Results!</h3>
{% else: %}
    <!-- <div class="container"> -->
    {% for i in range(l): %}
    <div class="row" style="padding-left: 3vw">
            <div class="col m11 card" style="padding-top: 1vh">
                    <div class="row">


                                <table class="col s12 white centered">
                                        <thead>
                                            <tr>
                                                <th>Hostel</th>
                                                <th>Details</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                          <tr>
                                              <td>Name</td>
                                              <td>{{ row[i]['name'] }}</td>
                                          </tr>
                                            <tr>
                                                <td>Gender</td>
                                                <td>{{ row[i]['gen'] }}</td>
                                            </tr>

                                            <tr>
                                                <td>Timmings</td>
                                                <td>{{ row[i]['stime']+' '+row[i]['sam']+' to '+row[i]['etime']+' '+row[i]['eam'] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Address</td>
                                                <td>{{ row[i]['address'] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Minimum Cost</td>
                                                <td>{{ row[i]['min(roomdet.cost)'] }}</td>
                                            </tr>
                                            <!--
                                            <tr>
                                                <td><a href="/viewHostel?hostelid={{ row[i]['hid'] }}">
                                                    <button class="waves-effect waves-light btn">View Hostel</button>
                                                </a></td>

                                            </tr>
                                          -->
                                            {#
                                            <!-- <tr> -->
                                                <!-- <td></td> -->
                                                <!-- <td><a href={{ "/order?id=" + row[i]['']rowId }} class="btn waves-effect waves-light red">Order Now</a></td> -->
                                            <!-- </tr> -->
                                        #}
                                    </tbody>

                                 </table>
                    </div>
            </div>
            </div>
    {% endfor %}
    <!-- </div> -->
{% endif %}

{% endblock %}
