<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper grey darken-3">
      <a href="#!" class="brand-logo">Hostelo</a>
      <ul class="right hide-on-med-and-down">
        {% if(own == True): %}
        <li><a href="/addhostel" class="tooltipped" data-position="bottom" data-tooltip="add hostel"><i class="material-icons">add_circle</i></a></li>
        <li><a href="/myhostels" class="tooltipped" data-position="bottom" data-tooltip="show my hostel"><i class="material-icons">account_balance</i></a></li>
        {% endif %}
        <li><a href="/logout" class="tooltipped" data-position="bottom" data-tooltip="Logout"><i class="material-icons">clear</i></a></li>
        <li><a href="/" class="tooltipped" data-position="bottom" data-tooltip="Search"><i class="material-icons">search</i></a></li>
        <li><a href="/myprofile" class="tooltipped" data-position="bottom" data-tooltip="Profile"><i class="material-icons">account_circle</i></a></li><li style="width: 20px"></li>
    </ul>
    </div>
  </nav>
</div>
